



.zkproofs {
    a {
        font-weight: bold;
    }

    .tagItme {
        width: 102px;
        height: 24px;
        background-color: rgba(144, 205, 244, 0.16);
        border-radius: 4px;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        color: #90CDF4;
    }
}